<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alice" class="com.andymur.pg.spring.Bean">
        <constructor-arg name="name" value="Alice">
        </constructor-arg>
    </bean>

    <bean id="bob" class="com.andymur.pg.spring.Bean">
        <constructor-arg name="name" value="Bob">
        </constructor-arg>
    </bean>

    <bean  class="org.springframework.beans.factory.config.MapFactoryBean" id="companyExternalInterfaces">
        <property name="targetMapClass">
            <value>java.util.HashMap</value>
        </property>
        <property name="sourceMap">
            <map key-type="java.lang.String" value-type="java.util.ArrayList">
                <entry key="MT.Req2">
                    <bean class="java.util.ArrayList">
                        <constructor-arg>
                            <list value-type="com.andymur.pg.spring.ExternalInterfaceType">
                                <ref bean="orderApiCsv"/>
                                <ref bean="orderApiXml"/>
                            </list>
                        </constructor-arg>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="orderApiCsv" class="com.andymur.pg.spring.ExternalInterfaceType" factory-method="valueOf">
        <constructor-arg value="ORDERAPI_CSV">
        </constructor-arg>
    </bean>

    <bean id="orderApiXml" class="com.andymur.pg.spring.ExternalInterfaceType" factory-method="valueOf">
        <constructor-arg value="ORDERAPI_XML">
        </constructor-arg>
    </bean>

    <bean id="orderApiFix" class="com.andymur.pg.spring.ExternalInterfaceType" factory-method="valueOf">
        <constructor-arg value="ORDERAPI_FIX">
        </constructor-arg>
    </bean>

    <bean id="beanContainer" class="com.andymur.pg.spring.BeanContainer">
        <constructor-arg index="0">
            <array value-type="com.andymur.pg.spring.Bean">
                <ref bean="alice"/>
                <ref bean="bob"/>
            </array>
        </constructor-arg>
    </bean>

</beans>